VITE_API_URL=https://scrum.sandbox.nakomis.com/api
VITE_WS_URL=wss://ws.scrum.sandbox.nakomis.com
VITE_COGNITO_AUTHORITY=https://cognito-idp.eu-west-2.amazonaws.com/eu-west-2_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
VITE_COGNITO_REDIRECT_URI=https://scrum.sandbox.nakomis.com/auth/callback
